@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poiret One', sans-serif;
}

body {
    background-color: #2e2e2e;
}

.main__endereco {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
}

.endereco__container {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.endereco__titulo {
    font-size: 3rem;
    color: #ffdd56;
}

.endereco__paragrafo {
    font-size: 2rem;
    text-align: center;
}

.endereco__container :nth-child(3) {
    font-size: 1.5rem;
}

iframe {
    width: 40%;
    border-radius: 1rem;
}

.endereco__container > :nth-child(5) {
    font-size: 1.5rem;
}

.endereco__container span {
    color: #ffdd56;
    font-weight: bold;
}

@media (max-width: 768px) {

    .main__endereco {
        width: 100%;
        display: flex;
        gap: 2rem;
    }

    .endereco__titulo {
        font-size: 2rem;
    }

    .endereco__paragrafo {
        font-size: 1.5rem;
        text-align: center;
    }

    .endereco__paragrafo span {
        font-size: 1.2rem;
    }

    .main__endereco iframe {
        width: 100%;
    }
    .endereco__container {
        width: 100%;
    }
}
