@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poiret One', sans-serif;
}

body {
    background-color: #2e2e2e;
}

.main__endereco {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
}

.endereco__container {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.endereco__container span {
    color: #ffdd56;
    font-weight: 100;
}

.span200 {
    color: #ffdd56;
    font-size: 0.8rem;
    font-weight: 100;
}

.endereco__titulo {
    font-size: 1.6rem;
    font-weight: 100;
    color: #ffdd56;
}

.endereco__paragrafo {
    font-size: 1.2rem;
    text-align: center;
}

iframe {
    width: 50%;
    height: 60%;
    border-radius: 0.3rem;
}

@media (max-width: 768px) {

    .main__endereco {
        width: 100%;
        display: flex;
        gap: 2rem;
    }

    .endereco__titulo {
        font-size: 1rem;
    }

    .endereco__paragrafo {
        font-size: 0.8rem;
        text-align: center;
    }

    .endereco__paragrafo span {
        font-size: 0.8rem;
    }

    .span200 {
        font-size: 5rem;
    }

    .main__endereco iframe {
        width: 100%;
        border-radius: 0%;
    }
    .endereco__container {
        width: 100%;
    }
}
