@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poiret One', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #2e2e2e;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #2e2e2e;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    z-index: 1000;
}

header ul {
    display: flex;
    gap: 1rem;
}

header a {
    text-decoration: none;
}

ul li {
    color: #ffdd56;
    list-style: none;
    font-size: 1.3rem;
    letter-spacing: 0.1rem;
    text-transform: lowercase;
    opacity: 80%;
}

ul li:hover {
    font-weight: bold;
    opacity: 100%;
    transform: scale(1.1);
    transition: 0.5s;
}

.header__logo {
    width: 5rem;
    opacity: 80%;
}

.icone__whats__cabecalho {
    width: 2rem;
    opacity: 80%;
}

main {
    margin-top: 79.94px;
}

.icone__fechar {
    width: 0.5rem;
    height: auto;
}

.imagem__fechar {
    display: none;
}

.header__img__menu {
    display: none;
}


@media (max-width: 768px) {

    header {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 1rem; 
        height: auto;
        position: fixed;
        top: 0;
        z-index: 1000;
    }

    header ul {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        margin-block: 1rem;
    }

    header ul li {
        font-size: 1.7rem;
    }

    main {
        margin-top: 64px;
    }

    .icone__whats__cabecalho, .header__logo {
        display: none;
    }

    .imagem__fechar {
        display: none;
        width: 1.5rem;
        margin-bottom: 0.5rem;
        margin-bottom: 2rem;
        position: absolute;
        top: 0;
        right: 0;
        margin: 1rem 1rem;
    }

    .header__img__menu {
        display: flex;
        margin-block: 0.5rem;
        width: 1.5rem;
        align-self: flex-start;
        margin-left: 1rem;
    }

    .header__menu {
        display: none;
    }



}