@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poiret One', sans-serif;
}

body {
    background-color: #2e2e2e;
}

.endereco__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    color: white;
    margin-top: 68px;
    width: 100%;
}

.endereco__titulo {
    font-size: 5rem;
}

.endereco__container iframe {
    margin-top: 1rem;
    width: 70%;
}


@media (max-width: 768px) {
    /* Nenhuma alteração específica necessária, pois os estilos já se adaptam */
}
