.main__promo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main__promo h1,
.main__promo p,
.promo__container h1,
.promo__container p {
    color: #fff;
    text-align: center;
}

.main__promo p,
.promo__container p {
    margin-block: 1rem;
}

.main__promo img {
    width: 50%;
}

.promo__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block: 2rem;
}

.promo__container h1 {
    margin-bottom: 0.5rem;
    font-size: 2rem;
}

.promo__container a {
    text-decoration: none;
}

.promo__container p {
    font-size: 1.5rem;
    padding-inline: 1rem;
}

span {
    font-weight: bold;
    color: #ffdd56;
}

@media (max-width: 768px) {
    .main__promo img {
        width: 100%;
    }
}
